body {font-family: 'Lato', sans-serif;
margin: 0;}

/* font-family: 'Roboto', sans-serif;  -nagłówek
*/

/*menu*/
nav#menu
{
    text-align: right;
    background-color: #fff;
}

nav#menu > ul
{
    margin:0;
}


nav#menu >ul >li.menu-item
{
    display: inline-block;
    padding: 20px;
    list-style: none;
}

nav#menu >ul >li.menu-item a
{
   text-decoration: none; 
    color:#1ac056;
}


/*header*/


#header{
    width:100%;
    
    background-image:url(img/header-background.jpg);
    position: relative;
    
}











